:root {
  --white: #fff;
  --dark-blue: #070724;
  --dark-grey: #38384f;
  --grey: #838391;
  --mercury-color: #419ebb;
  --venus-color: #eda249;
  --earth-color: #6d2ed5;
  --mars-color: #d14c32;
  --saturn-color: #cd5120;
  --jupiter-color: #d83a34;
  --uranus-color: #1ec1a2;
  --neptune-color: #2d68f0;

  --mobile-mercury-icon: #def4fc;
  --mobile-venus-icon: #f7cc7f;
  --mobile-earth-icon: #545bfe;
  --mobile-mars-icon: #ff6a45;
  --mobile-jupiter-icon: #ecad7a;
  --mobile-saturn-icon: #fccb6b;
  --mobile-uranus-icon: #65f0d5;
  --mobile-neptune-icon: #497efa;
}

html {
  font-size: 62.5%;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  z-index: 1;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-size: 1.6rem;
  min-height: 100%;
  position: relative;
  background: url("../../public//background-stars.svg") no-repeat center
      center/cover,
    var(--dark-blue);
  color: var(--white);
}
img,
svg,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: var(--white);
}
input,
textarea,
select,
button {
  font-family: inherit;
}
button {
  cursor: pointer;
  border: none;
}
ul,
ol {
  list-style: none;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
