.planetPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "contentButton contentButton contentButton contentButton"
    "planetImage planetImage planetImage planetImage"
    "planetName planetName planetName planetName"
    "planetContent planetContent planetContent planetContent"
    "stats stats stats stats";
  border: 1px solid pink;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: contentButton;
}

.planetImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: planetImage;
}

.planetConent {
  text-align: center;
  grid-area: planetContent;
}

.planetStats {
  grid-area: stats;
}

.planetName {
  grid-area: planetName;
}

/* tablet queries (768px) */
@media screen and (min-width: 768px) {
  .planetPage {
    grid-template-areas:
      "planetImage planetImage planetImage planetImage"
      "planetName planetName contentButton contentButton"
      "planetContent planetContent contentButton contentButton"
      "stats stats stats stats";
  }

  .planetStats {
    display: flex;
    justify-content: space-between;
  }

  .planetConent {
    text-align: left;
  }

  .buttonContainer {
    grid-template-columns: 1fr;
  }
}

/* laptop queries (1024px) */
@media screen and (min-width: 1024px) {
  .planetPage {
    grid-template-areas:
      "planetImage planetImage planetName planetName"
      "planetImage planetImage planetContent planetContent"
      "planetImage planetImage contentButton contentButton"
      "stats stats stats stats";
  }
}
