.planetPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "contentButton contentButton contentButton contentButton"
    "planetImage planetImage planetImage planetImage"
    "planetName planetName planetName planetName"
    "planetContent planetContent planetContent planetContent"
    "stats stats stats stats";
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: contentButton;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 5rem;
  padding: 0 .2rem;
}

.contentButton {
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1.9px;
  opacity: 0.5;
}

.contentButton span {
  position: relative;
}

.contentButton span::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 8rem;
  left: 49%;
  top: 2.7rem;
  transform: translate(-50%, 0);
  background-color: red;
  display: none;
}

.contentButton.buttonSelected {
  opacity: 1;
}
.contentButton.buttonSelected span::before {
  display: block;
}

.buttonContainer[data-planet="Earth"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--earth-color);
}

.buttonContainer[data-planet="Mercury"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--mercury-color);
}

.buttonContainer[data-planet="Venus"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--venus-color);
}

.buttonContainer[data-planet="Mars"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--mars-color);
}

.buttonContainer[data-planet="Saturn"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--saturn-color);
}

.buttonContainer[data-planet="Jupiter"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--jupiter-color);
}

.buttonContainer[data-planet="Uranus"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--uranus-color);
}

.buttonContainer[data-planet="Neptune"]
  .contentButton.buttonSelected
  span::before {
  background-color: var(--neptune-color);
}

.buttonTabletText,
.buttonMobileText {
  position: relative;
}

.buttonTabletText {
  display: none;
}

.planetImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: planetImage;
}

.planetConent {
  text-align: center;
  grid-area: planetContent;
}

.planetStats {
  grid-area: stats;
}

.planetName {
  grid-area: planetName;
}

/* tablet queries (768px) */
@media screen and (min-width: 768px) {
  .planetPage {
    grid-template-areas:
      "planetImage planetImage planetImage planetImage"
      "planetName planetName contentButton contentButton"
      "planetContent planetContent contentButton contentButton"
      "stats stats stats stats";
  }

  .planetStats {
    display: flex;
    justify-content: space-between;
  }

  .planetConent {
    text-align: left;
  }

  .buttonContainer {
    grid-template-columns: 1fr;
  }

  .buttonMobileText {
    display: none;
  }

  .buttonTabletText {
    display: block;
  }
}

/* laptop queries (1024px) */
@media screen and (min-width: 1024px) {
  .planetPage {
    grid-template-areas:
      "planetImage planetImage planetName planetName"
      "planetImage planetImage planetContent planetContent"
      "planetImage planetImage contentButton contentButton"
      "stats stats stats stats";
  }
}
