.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2.3rem;
}

.navBarLogo {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  display: none;
}

.mobileMenuButton {
  background-color: transparent;
  display: block;
  margin-left: auto;
}

.mobileMenuButton[data-show="true"] {
  opacity: 0.5;
}

.mobileNavBar {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}

.mobileNavBar[data-show="true"] {
  background-color: white;
  display: block;
}

/* tablet queries (768px) */
@media screen and (min-width: 768px) {
  .navBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLinks {
    flex-direction: row;
    gap: 2rem;
  }

  .mobileMenuButton,
  .mobileNavBar[data-show="true"] {
    display: none;
  }
}

/* laptop queries (1024px) */
@media screen and (min-width: 1024px) {
  .navBar {
    flex-direction: row;
    justify-content: space-between;
  }
}
