.navBar {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  flex-direction: column;
  /* this going to be its own little menu, with it slidding to the side, etc */
}

@media screen and (min-width: 768px) {
  .navBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLinks {
    flex-direction: row;
  }
}
